<main class="main-content about" ng-controller="appController">
	<article class="about-article">
		<header class="about-article--me">
			<h1 class="about-article--intro">{{info.title}}</h1>
			<img src="img/eu.jpg" alt="Eu">
		</header>
		<p class="about-article--desc">{{info.desc}}</p>
	</article>

	<section class="about-info">
		<div class="about-info--content">
			<h2 class="about-info--title">Meus contatos</h2>
			<div class="about-info--contacts">
				<a ng-repeat="item in contacts" ng-href="{{item.value}}" class="button" target="_blank">
					<i class="fa fa-{{ item.tag }}"></i> {{ item.title }}
				</a>
			</div>
		</div>
	</section>

	<section class="skills">
		<div class="skills--content">
			<div class="col">
				<h2 class="skills--title">Minhas Habilidades</h2>
				<div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/BkL4Vyz0z2iYQMhwFw" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
			</div>
			<div class="col">
				<ul class="skills--list">
					<li ng-repeat="item in skills">
						<i class="fas fa-file-code"></i>
						{{ item.title }}
						<span>{{ item.desc }}</span>
					</li>
				</ul>
			</div>
		</div>
	</section>
</main>