<main class="main-content hobbies" ng-controller="appController">
	<header class="hobbies-header">
		<h1 class="hobbies-header--title">Meus Hobbies</h1>
		<h2 class="hobbies-header--desc">Não importa como vai ser o meu dia, eu sempre tenho que executar meus hobbies 😄</h2>
	</header>
	<section class="hobbies-section">
		<h3 class="hobbies-section--title">- O que leio</h3>
		<ul class="hobbies-section--list">
			<li ng-repeat="item in books">
				<img src="{{ item.cover }}" alt="{{ item.title }}">
				<p>{{ item.title }}</p>
			</li>
		</ul>
	</section>

	<section class="hobbies-section">
		<h3 class="hobbies-section--title">- O que eu ouço</h3>
		<ul class="hobbies-section--list">
			<li ng-repeat="item in artists">
				<img src="{{ item.images[0].url }}" alt="{{ item.name }}">
				<p>{{ item.name }}</p>
			</li>
		</ul>
	</section>

	<section class="hobbies-section">
		<h3 class="hobbies-section--title">- O que eu assito</h3>
		<ul class="hobbies-section--list">
			<li ng-repeat="item in series">
				<img src="{{ item.cover }}" alt="{{ item.title }}">
				<p>{{ item.title }}</p>
			</li>
		</ul>
	</section>

	<section class="hobbies-section">
		<h3 class="hobbies-section--title">- O que eu jogo</h3>
		<ul class="hobbies-section--list">
			<li ng-repeat="item in games">
				<img src="{{ item.cover }}" alt="{{ item.title }}">
				<p>{{ item.title }}</p>
			</li>
		</ul>
	</section>
</main>