<main class="main-content projects" ng-controller="appController">
	<header class="projects-header">
		<h1 class="projects-header--title">Projetos que participei</h1>
		<h2 class="projects-header--desc">Alguns dos projetos que participei e ajudei a construir.</h2>
	</header>

	<ul class="projects-list">
		<li class="projects-list--item" ng-repeat="item in projects">
			<a ng-href="{{item.href}}" target="_blank">
				<h3 class="title">{{item.title}}</h3>
				<h4 class="tag">{{item.tag}}</h4>
				<p class="desc">{{item.desc}}</p>
			</a>
		</li>
	</ul>
</main>