
.about-info--title {
	@include title-section;
}
.skills--title {
	@include title-section;
}

.about-article {
	@include space-bottom;

	&--me {
	    @include align-center;
	    @include space-bottom;

	    img {
		    margin-left: 20px;
		}

	    .about-article--intro {
		    font-size: 69px;
		    text-align: right;
		    margin: 0;
		}

		.about-article--desc {
		    @include desc-section;
		}
	}
}

.about-info {
	@include space-bottom;

	&--contacts {
	    @include align-center;

	    .button {
		    @include align-center;
		    text-decoration: none;
		    font-size: 20px;
		    background: $secondary-color;
		    margin: 5px;
		    padding: 5px 10px;
		    border-radius: 3px;
		    color: $color-destaque;

		    &:hover {
				background: $gray-color
		    }

		    .fa {
			    margin-right: 10px;
			}
		}
	}
}

.skills--content {
    @include align-center;
    @include space-bottom;
    align-items: center;

    .col {
	    flex: 1;
	    position: relative;
	}

	.skills--list {
	    padding: 20;

	    li {
		    @include flex;
		    flex-direction: column;
		    margin-bottom: 20px;
		    font-weight: bold;

		    span {
			    font-size: 14px;
			    font-weight: 400;
			}
		}
	}
}

.footer {
    text-align: center;
}