.career {
	@include space-bottom;

	&-header {
		@include space-bottom;

		&--title {
			@include title-section;
		}

		&--desc {
			@include desc-section;
		}
	}

	&-list {
		list-style-type: none;
    	padding: 0;

		&--item {
			margin-bottom: 20px;
    		position: relative;

    		.year {
			    font-size: 60px;
			    font-weight: 100;
			}

			.title {
			    margin: 0;
			    font-size: 20px;
			}
			
			.tag {
			    @include tag;
			}

			.desc {
			    margin: 10px 0 0;
			    font-family: $font-stack-secondary
			}

			&:after {
			    content: "";
			    display: block;
			    width: 20px;
			    position: absolute;
			    height: 2px;
			    background: #FFF;
			    top: 37px;
			    left: -40px;
			}
		}
	}
}