.hobbies {
	&-header {
		@include space-bottom;

		&--title {
			@include title-section;
		}

		&--desc {
			@include desc-section;
		}
	}

	&-section {
		@include space-bottom;

		&--title {
			margin: 0;
		    font-size: 30px;
		    font-weight: 100;
		}

		&--list {
			list-style-type: none;
		    padding: 0;
		    display: flex;
		    overflow-y: scroll;

		    li {
			    background: $dark-color;
			    padding: 10px;
			    margin-right: 20px;

			    img {
				    max-width: 180px;
				}

				p {
				    text-align: center;
				    display: block;
				    width: 100%;
				    margin: 0;
				    font-size: 20px;
				}
			}
		}
	}
}