.projects {
	&-header {
		@include space-bottom;

		&--title {
			@include title-section;
		}

		&--desc {
			@include desc-section;
		}
	}

	&-list {
		@include space-bottom;
		list-style-type: none;
		padding: 0;

		&--item {
			margin-bottom: 20px;
			background: $dark-color;
			
			a {
				display: block;
				color: $secondary-color;
				text-decoration: none;
				padding: 20px;

				.title {
				    margin: 0;
				    font-size: 30px;
				}

				.tag {
				    @include tag;
				}

				.desc {
				    margin: 0;
				    font-size: 20px;
				    font-family: $font-stack-secondary;
				}
			}

			&:hover {
				border-left: 3px solid $secondary-color;
			}
		}
	}
}