$layout-breakpoint-small: 1024px;
@mixin title-section {
	font-size: 23px;
}

@mixin desc-section {
	font-size: 17px;
}

@media (max-width: $layout-breakpoint-small) {
  	body {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
	}

	.header {
	    flex-direction: column;
	    align-items: baseline;

	    &-brand {
		    width: 100%;
		    text-align: center;
		    margin-bottom: 20px;
		    padding: 0;
		}

		&-navigation {
		    justify-content: center;
		    width: 100%;
		}
	}

	.about-article {
		&--me {
		    flex-direction: column-reverse;

		    img {
			    margin: 0;
			    width: 100%;
			}

			.about-article--intro {
			    font-size: 35px;
			    margin-top: 20px;
			}
		}
	}

	.skills--content {
	    flex-direction: column;
	}

	.about-info--contacts {
	    flex-wrap: wrap;
	}
	
	.projects-header--desc {
		@include desc-section;
	}

	.career {
		&-header {
			&--title {
				@include title-section;
			}

			&--desc {
				@include desc-section;
			}
		}

		&-list {
			&--item {
				.desc {
					font-size: 14px;
					line-height: 1.3;
				}
			}
		}
	}

	.projects {
		&-header {
			&--title {
				@include title-section;
			}

			&--desc {
				@include desc-section;
			}
		}

		&-list {
			&--item {
				a {
					.desc {
					    font-size: 17px;
					}
				}
			}
		}
	}

	.hobbies {
		&-header {
			&--title {
				@include title-section;
			}

			&--desc {
				@include desc-section;
			}
		}
	}
}