@mixin flex {
  display: flex;
}

@mixin align-center {
	@include flex;
	align-items: center;
}

@mixin tag {
	font-size: 14px;
    margin: 0;
    font-weight: 400;
    color: $gray-color;
    margin-bottom: 20px;
}

@mixin align-start {
	@include flex;
	align-items: flex-start;
}

@mixin space-bottom {
	margin-bottom: 40px
}

@mixin title-section {
	color: $secondary-color;
	font-size: 30px;
	margin: 0 0 10px;

	&:after {
		content: "";
	    display: block;
	    width: 16px;
	    height: 8px;
	    background: $secondary-color;
	    margin-top: 8px;
	}
}

@mixin desc-section {
	font-size: 20px;
	line-height: 1.3;
	font-family: $font-stack-secondary;
}