$font-stack: 'Work Sans', sans-serif;
$font-stack-secondary: 'Bitter', serif;
$primary-color: #0D0D0D;
$secondary-color: #F2F2F2;
$color-destaque: #594A4E;
$dark-color: #1c1c1c;
$gray-color: #DDD;

@import 'mixins';

body {
  font: 100% $font-stack;
  color: $secondary-color;
  background: $primary-color;
  width: 1024px;
  margin: 0 auto;
}

header.header {
    @include align-center;
    @include space-bottom;
    justify-content: space-between;

    .header-brand {
	    color: $primary-color;
	    text-decoration: none;
	    text-transform: uppercase;
	    background: $secondary-color;
	    padding: 0 10px;
	}

	nav.header-navigation {
		display: flex;

		a {
		    text-decoration: none;
		    color: #FFF;
		    margin: 0;
		    display: flex;
		    margin: 0 10px;
		    opacity: .5;
		    border-bottom: 2px solid;
		    border-color: transparent;

		    &.active {
		    	opacity: 10;
		    	border-color: $color-destaque;
		    }
		}
	}
}

@import 'about';
@import 'career';
@import 'projects';
@import 'hobbies';

@import 'responsive';