<main class="main-content career" ng-controller="appController">
	<header class="career-header">
		<h1 class="career-header--title">Minha carreira profissional</h1>
		<h2 class="career-header--desc">O que eu fiz e por onde passei até hoje.</h2>
	</header>

	<ul class="career-list">
		<li class="career-list--item" ng-repeat="item in career">
			<span class="year">{{item.year}}</span>
			<h3 class="title">{{item.title}}</h3>
			<h4 class="tag">{{item.tag}}</h4>
			<p class="desc">{{item.desc}}</p>
		</li>
	</ul>
</main>